body {
  background-color: #15172b;
  color: white;
}
aside {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}

#logo {
  display: flex;
  justify-content: center;
  
}

.logo {
  width: 100%;
  width: 300px;
  height: 90px;
}

ul {
  list-style-type: none;
  padding-inline: 5px;
  margin-top: 10px;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
}

ul li:hover {
  background: #fd8419;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

li a {
  width: initial;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}

li a:hover {
  color: white;
}


main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

footer {
    margin: 0;
    color: white;
    /* background-color: #15172b; */

}

.awal {
    gap: 50px;
    display: flex;
    margin: 0px 80px;
    padding: 10px 0;
}

.end {
  display: flex;
  margin: 0 80px;
}

.logo-new {
    width: 200px;
}

@media screen and (max-width: 576px) {
  body {
    width: 100%;
  }
  
  .navigasi a {
    font-size: 9px;
  }

  footer {
    padding: 0;
    margin: 0;
    background: #f1f1f1;
  }

  .awal {
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  .logo-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .logo-new {
    width: 200px;
  }

  .end {
    margin: 0 10px;
  }

  .contact, .about, .event-1 {
    display: none;
  }
}