* {
  font-family: "Montserrat", sans-serif;
  background-color: #15172b;
}

aside {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}

#logo {
  display: flex;
  justify-content: center;
}

.logo {
  width: 300px;
  height: 90px;
}

#navigasi {
  list-style-type: none;
  padding-inline: 5px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navigasi {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
}

#navigasi .navigasi:hover {
  background: #fd8419;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.navigasi a {
  width: initial;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  background: transparent;
}

.navigasi a:hover {
  color: black;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}


.main-logo {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
}

.logo-seismic {
  width: 400px;
}

.grid-1 {
  margin: auto;
}

.welcome {
  font-size: 12px;
}

.grid-child {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.grid-child button {
  width: 25%;
  overflow-y: hidden; /* Mencegah overflow horizontal */
}

.welcome {
    width: 100%;
    font-size: 10px;
  }

.pushable {
  position: relative;
  background: transparent;
  padding: 0px;
  border: none;
  cursor: pointer;
  outline-offset: 4px;
  outline-color: deeppink;
  transition: filter 250ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background: hsl(226, 25%, 69%); */
  border-radius: 8px;
  filter: blur(2px);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(
    to right,
    hsl(248, 39%, 39%) 0%,
    hsl(248, 39%, 49%) 8%,
    hsl(248, 39%, 39%) 92%,
    hsl(248, 39%, 29%) 100%
  );
}

.front {
  display: block;
  position: relative;
  border-radius: 8px;
  background: hsl(248, 53%, 58%);
  padding: 10px 10px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.pushable:hover {
  filter: brightness(110%);
}

.pushable:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.pushable:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}

.outline {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #1E1E30;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #1E90FF;
    background: transparent;
}

.section {
    /* background-color: #1E1E30; */
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h3 {
    color: #FFD700;
    margin-bottom: 15px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

li {
    margin-bottom: 10px;
    color: #CCCCCC;
}

.material {
    color: #1E90FF;
    width: 80%;
    display: flex;
    justify-content: start;
    margin-top: 20px;

}

table {
    width: 80%;
    border-collapse: collapse;
    margin: 10px 0 30px;
    background-color: #15172b;
    color: #FFD700;
}
th, td {
    padding: 12px 0px 12px;
    border-bottom: 2px solid #ffffff;
}

td {
    background: transparent;
}

.btn {
 background-color: #00BFA6;
 padding: 14px 40px;
 color: #fff;
 text-transform: uppercase;
 letter-spacing: 2px;
 cursor: pointer;
 border-radius: 10px;
 border: 2px dashed #00BFA6;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
 transition: .4s;
}

.btn span:last-child {
 display: none;
}

.btn:hover {
 transition: .4s;
 border: 2px dashed #00BFA6;
 background-color: #fff;
 color: #00BFA6;
}

.btn:active {
 background-color: #87dbd0;
}

.speaker {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.profile-card {
    /* background-color: #87dbd0; */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 350px;
    text-align: center;
    padding: 20px;
    border: #87dbd0 5px solid;
    margin-bottom: 20px;
    margin-top: 20px;
}

.profile-photo {
    border-radius: 50%;
    border: #87dbd0 5px solid;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

.profile-details {
    padding: 0 20px;
}

.profile-details h2 {
    margin-top: 0;
    font-size: 24px;
    color: #00BFA6;
}

.profile-details p {
    color: #FFD700;
    font-size: 14px;
    line-height: 1.6;
}

.social-media {
    margin-top: 20px;
}

.social-media a {
    margin: 0 10px;
    text-decoration: none;
}

.social-media img {
    width: 40px;
    height: 40px;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto 30px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 100%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -10px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: -50%;
}

/* Place the container to the right */
.right {
  left: 51%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: #00BFA6;
  position: relative;
  border-radius: 6px;
}

.content h2, p {
  color: white;
  background: transparent;
}

/* Narahubung */
.contact-card {
    background: transparent;
    border-radius: 12px;
    box-shadow: 0 4px 16px #00BFA6;
    padding: 20px 40px;
    max-width: 600px;
    width: 100%;
    text-align: center;
    color: #333;
    margin-bottom: 50px;
}

.CP {
    margin-bottom: 20px;
    color: #007BFF;
}

.contact-info {
    margin-bottom: 20px;
    text-align: left;
}

.contact-info h3 {
    font-size: 1.4em;
    margin-bottom: 25px;
    color: #00BFA6;
    text-decoration: underline;
}

.contact-info p {
    margin: 5px 0;
    font-size: 1em;
}

.contact-info a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s;
}

.contact-info a:hover {
    color: #0056b3;
    text-decoration: underline;
}

footer {
    margin: 0;
    color: white;
}

.awal {
  gap: 50px;
    display: flex;
    margin: 0px 80px;
    justify-content: center;
}

.end {
  display: flex;
  margin: 0 80px;
}

@media screen and (max-width: 576px) {
  body {
    width: 100%;
  }
  
  .navigasi a {
    font-size: 9px;
  }

  .grid-1 img {
    width: 100%;
  }

  .grid-2 {
    padding: 5px;
  }

  .grid-2 h2 {
    font-size: 20px;
  }

  .grid-2 h4 {
    font-size: 10px;
  }

  .grid-child button {
    font-size: 10px;
    width: 25%;
}

  .front {
    padding: 8px 16px;
    font-size: 10px;
  }

  .btn {
    padding: 7px 20px;
  }

  .material {
    font-size: 25px;
  }

  th, td {
    font-size: 10px;
  }

  .btn {
    font-size: 10px;
  }

  .speaker {
    flex-direction: column;
  }

  /* Place the timelime to the left */
  .timeline::after {
    left: 25px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 30px;
    padding-right: 25px;
  }

  .content {
    left: 60px;
  }

  .left {
    left: 1px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 80px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 12px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }

  .content h2, p {
  font-size: 10px;

  }

  .contact-card {
    max-width: 300px;
    padding: 10px 10px;

  }

  .contact-info h3 {
      font-size: 1em;
      margin-bottom: 20px;
      color: #00BFA6;
      text-decoration: underline;
  }

  .contact-info p {
      margin: 5px 0;
      font-size: 0.8em;
  }

  footer {
    padding: 0;
    margin: 0;
  }

  .awal {
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  .end {
    margin: 0 10px;
  }
}