@import url('https://cdn.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css');

body {
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    /* background: #1D2B53; */
    background: #3C1B1F;
}

.navigasi {
    position: relative;
    background: transparent;
    transition: background-color 0.5s ease, backdrop-filter 0.5s ease;
    z-index: 100;
    -webkit-transition: background-color 0.5s ease, backdrop-filter 0.5s ease;
    -moz-transition: background-color 0.5s ease, backdrop-filter 0.5s ease;
    -ms-transition: background-color 0.5s ease, backdrop-filter 0.5s ease;
    -o-transition: background-color 0.5s ease, backdrop-filter 0.5s ease;
}

.navigasi.scrolled {
  background-color: rgba(255, 255, 255, 0.05); 
  backdrop-filter: blur(100px); 
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1); 
}

.logo h3 {
    color: transparent;
    background: linear-gradient(0deg, rgba(19,60,169,1) 0%, rgba(134,30,212,1) 5%, rgba(248,0,255,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: bold;
}

.logo {
    margin-left: 100px;
}

.links {
    margin-right: 100px;
}

.link {
    color: white;
    font-size: 1.5rem;
    padding-left: 50px;
}

.link:hover {
    color: transparent;
    background: linear-gradient(90deg, rgba(19,60,169,1) 0%, rgba(134,30,212,1) 51%, rgba(248,0,255,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    text-decoration: underline;
}


.burger-menu {
  cursor: pointer;
  padding: 10px;
  background-color: #1d70be;
  border-radius: 5px;
  display: none;
}


.bar {
  width: 20px;
  height: 5px;
  background-color: #ecf0f1;
}

.logo-seismic {
    width: 400px;
    margin: auto;
    /* display: none; */
}

.main-logo {
    color: rgb(255, 255, 255);
    backdrop-filter: blur(100px);
    /* background-position: left; */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-color: #393E46; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    height: 100dvh;
    /* padding: 0px 12.5%; */
    box-sizing: border-box;
}


.grid-2 {
    padding-left: 50px;
    grid-column: 1;
}

.grid-1 {
    margin: auto;
    grid-column: 2;
}

.grid-child button {
    width: 25%;
}

span {
    color: rgb(199, 42, 42);
}

p span {
    /* color: rgb(199, 42, 42); */
    color: #FAEF5D;
    font-weight: 600;
}

.what_is {
    margin-top: 50px;
    color: rgb(255, 255, 255, 0.8);
    /* background-color: #393E46;  */
}

.what_is_child {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: auto;
    overflow: hidden;
    max-height: 200px;
    position: relative;
    color: rgba(255, 255, 255, 1);
    /* background: linear-gradient(to right, #EEEEEE, #3498db); */
    /* background: #1D2B53; */
    background: #8E2735;
    font-size: 1.2rem;
    padding: 10px 50px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.what_is_child h2 {
    align-self: center;
}

.show-more-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #3498db;
  color: #ecf0f1;
  cursor: pointer;
}

.show-less-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    color: #ecf0f1;
    cursor: pointer;
}

.timeline {
    color: #ffffff;
    border-radius: 20px;
    margin: 50px auto;
    padding: 0 100px;
    box-sizing: border-box;
    height: 80dvh;
    display: grid;
    place-items: center;
    width: 80%;
    /* background: linear-gradient(to right, #EEEEEE, #3498db); */
    background-color: #7E2553;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

#head-timeline {
    color: #FAEF5D;
}

.timeline-child {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}


.timeline-child h2 {
    color: #FAEF5D;
    align-self: center;
}

.timeline ul {
    font-size: 1.2rem;
}


.requirement {
    border-radius: 20px;
    margin: auto;
    padding: 0 50px;
    box-sizing: border-box;
    height: 100dvh;
    display: grid;
    place-items: center;
    width: 80%;
    /* background: linear-gradient(to left, #f3f1f1, #3498db); */
    background: #1D2B53;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.requirement h4 {
    font-weight: bolder;
}

.requirement ul {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.9);
}

.facilities {
    border-radius: 100px;
    margin: 50px auto;
    padding: 10px 50px;
    box-sizing: border-box;
    height: 80dvh;
    display: grid;
    place-items: center;
    width: 50%;
    /* background: #3498db69; */
    background: #B21E4B;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

#head-facilities {
    color: #FAEF5D;
}

#facilities-1 ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}


#facilities-1 ul li {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center; /* untuk membuat span berada di tengah */
    text-align: center;
    flex: 0 0 calc(33.33% - 20px); /* Mengatur lebar setiap item menjadi 33.33% minus margin */
    margin: 10px;
    /* display: flex;
    flex-direction: row; */
}

#facilities-1 ul li span {
  margin-top: 5px; /* untuk memberi jarak antara gambar dan teks */
  color: white;
}

#facil {
    text-transform: uppercase;
    text-decoration: dotted;
}

.hadiah {
    border-radius: 10px;
    margin: 50px auto;
    /* padding: 10px 10px; */
    box-sizing: border-box;
    height: 80dvh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    width: 80%;
    /*background: linear-gradient(to left, #f3f1f1, #3498db);*/
    /* background: #7E2553; */
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.prize {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-style: double;
    border-width: 1rem;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    padding: 100px;
    color: #7E2553;
    background-color: #FAEF5D;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.prize p {
    font-size: 2rem; 
}

.prize ul {
    list-style-type: none;
}

.prize ul li {
    font-size: 1.5rem;
    text-decoration: none;
    text-justify: center;
}

.phone {
    display: flex;
    justify-content: center;
}

footer {
    background: #ff004c8a;
}

@media screen and (min-width: 768px) {
    footer img {
        width: 350px;
    }
    .contact {
        margin-top: 40px;
    }
}

@media screen and (max-width: 768px) {

    .links {
    display: none;
    }

    .links.show {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10px;
    left: 50px;
    width: 100%;
    /* background: linear-gradient(to right, #EEEEEE, #3498db); */
    background: rgba(34, 40, 49, 1);
    text-align: left;
  }

  .burger-menu {
    display: block;
  }
    .main-logo {
        margin: 0px 0px;
        grid-template-columns: 1fr;
    }
    .grid-2 {
        width: 80%;
        grid-column: 1;
    }

    .grid-child button {
        width: 25%;
    }
    .what_is_child, .timeline, .requirement {
        width: 90%;
        padding: 10px 20px;
    }
    .timeline {
        height: 50dvh;
    }
    .timeline_child {
        margin: 50px 0px;
    }
    .timeline ul {
        font-size: 1rem;
    }
    .requirement {
        height: 70dvh;
    }
    .requirement ul {
        font-size: 1.2rem;
    }
}


