* {
  font-family: "Montserrat", sans-serif;
  background-color: #15172b;
}

aside {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}

#logo {
  display: flex;
  justify-content: center;
}

.logo {
  width: 100%;
  width: 300px;
  height: 90px;
}

#navigasi {
  list-style-type: none;
  padding-inline: 5px;
  margin-top: 10px;
  display: flex;
  /* width: 100%; */
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navigasi {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
}

#navigasi .navigasi:hover {
  /* background: #fd8419; */
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.navigasi a {
  width: initial;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  background: transparent;
}

.navigasi a:hover {
  color: black;
}

/* Main Section */

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.main-logo {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
}

.logo-seismic {
  width: 400px;
}

.grid-1 {
  margin: auto;
}

.welcome {
  font-size: 12px;
}

.grid-child {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.grid-child button {
  width: 25%;
  overflow-y: hidden;
}

.pushable {
  position: relative;
  background: transparent;
  padding: 0px;
  border: none;
  cursor: pointer;
  outline-offset: 4px;
  outline-color: deeppink;
  transition: filter 250ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  /* background: hsl(226, 25%, 69%); */
  border-radius: 8px;
  filter: blur(2px);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(
    to right,
    hsl(248, 39%, 39%) 0%,
    hsl(248, 39%, 49%) 8%,
    hsl(248, 39%, 39%) 92%,
    hsl(248, 39%, 29%) 100%
  );
}

.front {
  display: block;
  position: relative;
  border-radius: 8px;
  background: hsl(248, 53%, 58%);
  padding: 10px 10px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 1rem;
  transform: translateY(-4px);
  transition: transform 600ms cubic-bezier(0.3, 0.7, 0.4, 1);
}

.pushable:hover {
  filter: brightness(110%);
}

.pushable:hover .front {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.pushable:hover .shadow {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}

.what_is {
    margin-top: 50px;
    color: black;
    width: 100%;

}

.what_is_child {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: auto;
    overflow: hidden;
    max-height: 200px;
    position: relative;
    color: rgba(255, 255, 255, 0);
    font-size: 1.2rem;
    padding: 10px 50px 20px;
    box-sizing: border-box;
    border-radius:1px;
    -webkit-border-radius:1px;
    -moz-border-radius:1px;
    -ms-border-radius:1px;
    -o-border-radius:1px;
}

.what_is_child h2 {
    align-self: center;
}

.what_is_child p {
  color: black;
}

.show-more-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #3498db;
  color: #ecf0f1;
  cursor: pointer;
}

.show-less-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
  background-color: #3498db;
    color: #ecf0f1;
    cursor: pointer;
}

.time {
  color: #1E90FF;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto 30px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #00BFA6;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 100%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: -50%;
}

/* Place the container to the right */
.right {
  left: 50.5%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: #00BFA6;
  position: relative;
  border-radius: 6px;
}

.content h2, p {
  color: white;
  background: transparent;
  font-size: 1rem;
}

.requirement {
    border-radius: 20px;
    margin: auto;
    margin-top: 30px;
    padding: 0 50px;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    width: 80%;
    /* background: linear-gradient(to left, #f3f1f1, #3498db); */
    /* background: #1D2B53; */
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.requirement h4 {
    font-weight: bolder;
}

.requirement ul {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.8);
}

/* Narahubung */
.contact-card {
    background: transparent;
    border-radius: 12px;
    box-shadow: 0 4px 16px #00BFA6;
    padding: 20px 40px;
    max-width: 600px;
    width: 100%;
    text-align: center;
    color: #333;
    margin-bottom: 50px;
}

.CP {
    margin-bottom: 20px;
    color: #007BFF;
    font-weight: bolder;
}

.contact-info {
    margin-bottom: 20px;
    text-align: left;
}

.contact-info h3 {
    font-size: 1.4em;
    margin-bottom: 25px;
    color: #00BFA6;
    text-decoration: underline;
}

.contact-info p {
    margin: 5px 0;
    font-size: 1em;
}

.contact-info a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s;
}

.contact-info a:hover {
    color: #0056b3;
    text-decoration: underline;
}

footer {
    margin: 0;
    color: white;
}

.awal {
  gap: 50px;
    display: flex;
    margin: 0px 80px;
    justify-content: center;
}

.end {
  display: flex;
  margin: 0 80px;
}

@media screen and (max-width: 576px) {
  body {
    width: 100%;
  }
  
  .navigasi a {
    font-size: 9px;
  }

  .main-logo {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: fit-content;
    margin: 0;
  }

  .grid-1 img {
    width: 100%;
  }

  .grid-2 {
    padding: 5px;
  }

  .grid-2 h2 {
    font-size: 20px;
  }

  .grid-2 h3 {
    font-size: 10px;
  }

  .grid-child button {
    font-size: 10px;
  }

  .welcome {
    width: 100%;
    font-size: 10px;
  }

  .front {
    font-size: 0.7rem;
  }

  .what_is_child {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    width: 80%;
  }

  .what_is_child h2 {
    font-size: 15px;
  }

  /* Place the timelime to the left */
  .timeline::after {
    left: 25px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 30px;
    padding-right: 25px;
  }

  .content {
    left: 60px;
  }

  .left {
    left: 1px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 80px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 12px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }

  .content h2, p {
  font-size: 10px;
  }

  .requirement {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    margin-top: 20px;
  }

  .requirement div h2 {
    font-size: 20px;
  }

  .requirement div p {
    font-size: 10px;
  }

  .requirement div h4 {
    font-size: 10px;
  }

  .requirement div ul li {
    font-size: 8px;
  }

  .hadiah {
    height: fit-content;
    width: 100%;
    margin: 10px 0;
  }

  .prize {
    font-size: 1rem;
    padding: 5px;
  }

  .contact-card {
    max-width: 300px;
    padding: 10px 10px;

  }

  .contact-info h3 {
      font-size: 1em;
      margin-bottom: 20px;
      color: #00BFA6;
      text-decoration: underline;
  }

  .contact-info p {
      margin: 5px 0;
      font-size: 0.8em;
  }

  footer {
    padding: 0;
    margin: 0;
  }

  .awal {
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  .end {
    margin: 0 10px;
  }
}