* {
  animation: ease-in-out 1.5s;
  -webkit-animation: ease-in-out 1.5s;
  font-family: "Montserrat", sans-serif;

}

aside {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}

#logo {
  display: flex;
  justify-content: center;
}

.logo {
  width: 100%;
  width: 300px;
  height: 90px;
}

#navigasi {
  list-style-type: none;
  padding-inline: 5px;
  margin-top: 10px;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navigasi {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
}

#navigasi .navigasi:hover {
  background: #fd8419;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.navigasi a {
  width: initial;
  text-decoration: none;
  /* color: black; */
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
}

.navigasi a:hover {
  color: white;
}

/* Main Section */

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}


.main-logo {
    color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    height: 80dvh;
    box-sizing: border-box;
}

.grid-2 {
  padding-left: 50px;
  grid-column: 1;
}

.logo-seismic {
  width: 400px;
}

.grid-1 {
  margin: auto;
  grid-column: 2;
}

.welcome {
  font-size: 12px;
}

.grid-child {
  display: flex;
  justify-content: space-evenly;
}

.grid-child button {
  width: 25%;
}

span {
    color: rgb(199, 42, 42);
}

p span {
    /* color: rgb(199, 42, 42); */
    color: rgb(209, 0, 0);
    font-weight: 600;
}

.what_is {
    margin-top: 50px;
    color: black;
    /* background-color: #393E46;  */
    /* background: #8E2735; */
    width: 100%;

}

.what_is_child {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: auto;
    overflow: hidden;
    max-height: 200px;
    position: relative;
    color: rgba(255, 255, 255, 0);
    /*background: linear-gradient(to right, #EEEEEE, #3498db);
    *//*background: #1D2B53;
    */font-size: 1.2rem;
    padding: 10px 50px 20px;
    box-sizing: border-box;
    border-radius:1px;
    -webkit-border-radius:1px;
    -moz-border-radius:1px;
    -ms-border-radius:1px;
    -o-border-radius:1px;
}

.what_is_child h2 {
    align-self: center;
}

.what_is_child p {
  color: black;
}

.show-more-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: #3498db;
  color: #ecf0f1;
  cursor: pointer;
}

.show-less-btn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
  background-color: #3498db;
    color: #ecf0f1;
    cursor: pointer;
}

.timeline {
    box-sizing: border-box;
    margin-top: 50px;
  }




.requirement {
    border-radius: 20px;
    margin: auto;
    margin-top: 30px;
    padding: 0 50px;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    width: 80%;
    /* background: linear-gradient(to left, #f3f1f1, #3498db); */
    /* background: #1D2B53; */
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.requirement h4 {
    font-weight: bolder;
}

.requirement ul {
    font-size: 1rem;
    color: black;
}

.hadiah {
    border-radius: 10px;
    margin: 50px 0;
    display: grid;
    place-items: center;
    width: 100%;
    background-color: #FAEF5D;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.prize {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    font-size: 2rem;
    padding: 50px;
    color: #ffffff;
    background: url('../images/main-sic.png') no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.phone {
    display: flex;
    justify-content: center;
}


footer {
    margin: 0;
    color: white;
}

.awal {
  gap: 50px;
    display: flex;
    margin: 0px 80px;
    justify-content: center;
}

.end {
  display: flex;
  margin: 0 80px;
}

@media screen and (max-width: 576px) {
  body {
    width: 100%;
  }
  
  .navigasi a {
    font-size: 9px;
  }

  .main-logo {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: fit-content;
    margin: 0;
  }

  .grid-1 img {
    width: 100%;
  }

  .grid-2 {
    padding: 5px;
  }

  .grid-2 h2 {
    font-size: 20px;
  }

  .grid-2 h3 {
    font-size: 10px;
  }

  .grid-child button {
    font-size: 10px;
  }

  .welcome {
    width: 100%;
    font-size: 10px;
  }


  .what_is_child {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    width: 90%;
  }

  .what_is_child h2 {
    font-size: 15px;
  }

  .timeline div img {
    width: 100%;
  }

  .requirement {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    margin-top: 20px;
  }

  .requirement div h2 {
    font-size: 20px;
  }

  .requirement div p {
    font-size: 10px;
  }

  .requirement div h4 {
    font-size: 10px;
  }

  .requirement div ul li {
    font-size: 8px;
  }

  .hadiah {
    height: fit-content;
    width: 100%;
    margin: 10px 0;
  }

  .prize {
    font-size: 1rem;
    padding: 5px;
  }

  footer {
    padding: 0;
    margin: 0;
  }

  .awal {
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  .end {
    margin: 0 10px;
  }
}