* {
  font-family: "Montserrat", sans-serif;
}

.logo {
    width: 500px;
    height: 150px;
}

.event {
    background: #fd8419;
    color: black;
    padding: 0 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

main {
    background: url("./images/bg-nav.jpg") no-repeat;
    background-size: cover;
    width: 100%;
}

main .first {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 50px 50px;
    flex-direction: column;
    border-radius: 40px 40px 200px 40px;
    -webkit-border-radius: 40px 40px 200px 40px;
    -moz-border-radius: 40px 40px 200px 40px;
    -ms-border-radius: 40px 40px 200px 40px;
    -o-border-radius: 40px 40px 200px 40px;
}

.describe {
    color: white;
}

.describe h1 {
    font-size: 100px;
}

.describe h2 {
    font-size: 40px;
}

p {
    font-family: prompt;
    font-size: 15px;
}

button {
    margin-left: 0;
    background: rgba(243, 243, 243, 0.2);
}

.sponsor {
    width: 100%;
    display: grid;
    place-items: center;
    background: #F9DD3F;
    padding: 50px;
    gap: 50px;
}

.uni-sponsor {
    margin: 10px 50px;
    width: 200px;
}

.documentation {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 20px;
    color: white;
}

.video-foto {
    display: grid;
    gap: 10px;
    place-items: center;
}

iframe {
    width: 80%;
    height: 600px;
}

.foto {
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.foto img {
    width: 500px;
    aspect-ratio: 3/2;
}

footer {
    margin: 0;
    color: white;
    background-color: #15172b;

}

.awal {
    gap: 50px;
    display: flex;
    margin: 0px 80px;
    padding: 10px 0;
}

.end {
  display: flex;
  margin: 0 80px;
}

.logo-new {
    width: 200px;
}

button:hover {
    background: #fd8419;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
}

@media screen and (max-width: 576px) {
    body {
        background-position: center;
    }

    .logo {
        width: 250px;
        height: 75px;
    }

    .first h1 {
        font-size: 30px;
    }

    .first h2 {
        font-size: 20px;
    }

    .describe p {
        font-size: 10px;
    }

    .sponsor {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
    }

    .join-sponsor {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .uni-sponsor {
        width: 50%;
        margin: auto;
    }

    .documentation .video-foto {
        display: flex;
        flex-direction: column;
    }

    .video-foto iframe {
        width: 100%;
        height: 300px;
    }

    .video-foto .foto {
        gap: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .foto img {
        width: 80%;
    }

    footer {
    padding: 0;
    margin: 0;
  }

  .awal {
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  .logo-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
  }

  .logo-footer p{
    font-size: 10px;
  }

  .logo-new {
    width: 120px;
  }

  .end {
    margin: 0 10px;
  }

  .contact, .about, .event-1 {
    display: none;
  }
}