<!doctype html>
<html lang="en">
  <head>
    <title>GeoOlympic | Geosphere</title>
    <link rel="icon" href="/images/logo-geol.png" type="image/x-icon">
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/css/geoolympic.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital@1&family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  </head>

  <body class="bg-light">

    <div class="article">

      <aside loading="lazy">
        <div id="logo">
          <img class="logo" src="/images/Logo Geosphere 2024.PNG" alt="">
        </div>
  
        <ul id="navigasi">
          <li class="navigasi">
            <a href="/views/geoolympic.html">GeoOlympic</a>
          </li>
          <li class="navigasi">
            <a href="/views/sic.html">SIC</a>
          </li>
          <li class="navigasi">
            <a href="/views/geotraining.html">SIT</a>
          </li>
          <li class="navigasi">
            <a href="/views/gtalk.html">Gtalk</a>
          </li>
          <li class="navigasi">
            <a href="/views/geolog.html">Geolog</a>
          </li>
        </ul>

        <hr>

      </aside>

      <main class="fw-bold">
        <div class=" main-logo">
          <div class="grid-2 text-center">
            <h2 class="text-primary">GeoOlympic (Earth Sciences)</h2>
            <h4 class="text-light">Enhancing Knowledge of the Geoscience and Oil Gas Industry for Youth</h4>
            <div class="grid-child">
              <button class="btn pushable" id="guidebook">
                <span class="shadow"></span>
                  <span class="edge"></span>
                  <span class="front">
                    Guidebook
                  </span>
              </button>
              <button onclick="window.location.href='g-registrasi.html'" class="pushable">
                  <span class="shadow"></span>
                  <span class="edge"></span>
                  <span class="front">
                    Registrasi
                  </span>
              </button>
            </div>
          </div>
          <div class="grid-1">
            <img src="../images/logo-geol.png" alt="" class="logo-seismic">
          </div>
        </div>

      <div class="what_is" loading="lazy">
        <div class="what_is_child ">
          <p class="text-center text-white">Calling all young 𝙜𝙚𝙤𝙨𝙘𝙞𝙚𝙣𝙘𝙚 enthusiasts!</p>
          <p class="text-light">Join us in celebrating the spirit of exploration and knowledge at GeoOlympic, an exhilarating subevent of Geosphere by HMTG ITS! 🌍🏆 Unleash your geoscientific expertise and take on the challenge of the four stages: Online Selection, Amazing Run, Death Match, and Final Presentation.This nationwide competition is a chance for high school students to showcase their mastery of Geology, Geophysics, Geography, Disaster. Let's embrace the wonders of Earth sciences and ignite a passion for geophysical pursuits!</p>
        </div>
      </div>

      <h1 class="time fw-bolder mt-5 mb-4">TIMELINE</h1>
      <div class="timeline" loading="lazy">
            <div class="container left">
              <div class="content">
                <h3>15 - 28 July 2024</h3>
                <p>Early Bird</p>
              </div>
            </div>
            <div class="container right">
              <div class="content">
                <h3>29 July - 11 August 2024</h3>
                <p>Regular</p>
              </div>
            </div>
            <!-- <div class="container left">
              <div class="content">
                <h3>12 - 19 August 2024</h3>
                <p>Extended</p>
              </div>
            </div> -->
            <div class="container left">
              <div class="content">
                <h3>25 August 2024</h3>
                <p>TM Preliminary</p>
              </div>
            </div>
            <div class="container right">
              <div class="content">
                <h3>1 September 2024</h3>
                <p>Preliminary</p>
              </div>
            </div>
            <div class="container left">
              <div class="content">
                <h3>2 September 2024</h3>
                <p>Semifinal Announcement</p>
              </div>
            </div>
            <div class="container right">
              <div class="content">
                <h3>4 Oktober 2024</h3>
                <p>TM Semifinal and Final</p>
              </div>
            </div>
            <div class="container left">
              <div class="content">
                <h3>5 October 2024</h3>
                <p>Semifinal</p>
              </div>
            </div>
            <div class="container right">
              <div class="content">
                <h3>6 October 2024</h3>
                <p>Final</p>
              </div>
            </div>
          </div>

      <div class="requirement ">

        <div>
          <h2 class="fw-bolder text-center text-success text-decoration-underline">REQUIREMENT</h2>
          <p class="text-center text-white">For more details, please refer to the guidebook</p>
        </div>

        <div>
          <h4 class="text-start text-white">The participants of GeoOlympic 2024 must fulfill the requirements below :</h4>

          <ul>
            <li>Participants are high school / equivalent level students in Indonesia as evidenced by a student card.</li>
            <li>Participants are individualized</li>
            <li>Participants register at the registration button above</li>
            <li>Participants are required to complete registration and registration fees set by the committee.</li>
            <li>GeoOlympic online selection is carried out through a link that will be provided by the committee.</li>
          </ul>
        </div> 
      </div>

      <h1 class="CP fw-bolder">Contact Person</h1>
          <div class="contact-card">
              <div class="contact-info">
                  <h3>Head of Event</h3>
                  <p class="">M. Ghatfan Aufa (Gatan)</p>
                  <p><a href="https://wa.me/6285895892863" target="_blank">WhatsApp Me!</a> | <a href="mailto:gatanaufa04@gmail.com">Email</a></p>
              </div>
              <div class="contact-info">
                  <h3>Head of Subevent</h3>
                  <p class="">Ridwan Maulana Al Fattah (Iwan)</p>
                  <p><a href="https://wa.me/628972853737" target="_blank">WhatsApp Me!</a> | <a href="mailto:ridwanmaulana1490@gmail.com">Email</a></p>
              </div>
          </div>

      </main>

    </div>

    <!-- Footer -->
    <footer class="container-fluid">
      <div class="awal">
        <p><a href="https://www.instagram.com/geosphereits?igsh=MTloc3hvcngzdDZiYw==" class="text-decoration-none text-white" target="_blank">Instagram</a></p>
          <p><a class="text-decoration-none" href="../index.html">Home</a></p>
          <p><a href="https://www.tiktok.com/@geospherehmtg?_t=8nylmBWiiu8&_r=1" class="text-decoration-none text-white" target="_blank">Tiktok</a></p>
      </div>
      <div class="tengah">        
        <hr class="text-white">
      </div>
      <div class="end">
        <p class="">Created by Website Development Team Geopshere 2024</p>
      </div>
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>

    <script src="../script/geoolympic.js"></script>
  </body>
</html>
