<!doctype html>
<html lang="en">
  <head>
    <title>Seismik Interpretation Training | Geosphere</title>
    <link rel="icon" href="/images/logo-sit.png" type="image/x-icon">
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/css/geotraining.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital@1&family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  </head>

  <body class="bg-light">

    <div class="article">
      <aside >
        <div id="logo">
          <img class="logo" src="/images/Logo Geosphere 2024.PNG" alt="">
        </div>
  
        <ul id="navigasi">
          <li class="navigasi">
            <a href="/views/geoolympic.html">GeoOlympic</a>
          </li>
          <li class="navigasi">
            <a href="/views/sic.html">SIC</a>
          </li>
          <li class="navigasi">
            <a href="/views/geotraining.html">SIT</a>
          </li>
          <li class="navigasi">
            <a href="/views/gtalk.html">Gtalk</a>
          </li>
          <li class="navigasi">
            <a href="/views/geolog.html">Geolog</a>
          </li>
        </ul>

        <hr class="text-light">

      </aside>

      <main class="fw-bold">
        <div class=" main-logo ">
          <div class="grid-2 text-center">
            <h2 class="text-primary">Seismic Interpretation Training</h2>
            <h4 class="text-light">Improve Practical Skills to Resolve Dynamic Challenges in the Upstream Oil and Gas Sector</h4>
            <div class="grid-child">
              <button onclick="window.location.href='sit-registrasi.html'" class="pushable">
                  <span class="shadow"></span>
                  <span class="edge"></span>
                  <span class="front">
                    Registrasi
                  </span>
              </button>
            </div>
          </div>
          <div class="grid-1">
            <img src="../images/logo-sit.png" alt="" class="logo-seismic">
          </div>
        </div>

        <hr>

        <div class="outline ">
            <h1>Training Outline</h1>
            <div class="section">
                <h3>Profiles of Presenters and Related Companies</h3>
            </div>
            <div class="section">
                <h3>Overview of Seismic Exploration Methods</h3>
            </div>
            <div class="section">
                <h3>Basic Petroleum System</h3>
            </div>
            <div class="section">
                <h3>Seismic Data Interpretation</h3>
            </div>
            <div class="section">
                <h3>Reservoir Analysis</h2>
            </div>
            <div class="section">
                <h3>Simulation and Modeling</h2>
            </div>
        </div>

        <h1 class="material">Training Material</h1>
        <table>
            <tr>
                <th>Material</th>
                <th>Link to Page</th>
            </tr>
            <tr>
                <td>Guidebook</td>
                <td><button id="guidebook" class="btn fw-bold">Go!</button></td>
            </tr>
            <tr>
                <td>Handbook</td>
                <td><button onclick="window.location.href='file.html'" class="btn fw-bold">Go!</button></td>
            </tr>
            <tr>
                <td>E-Modul Software</td>
                <td><button onclick="window.location.href='file.html'" class="btn fw-bold">Go!</button></td>
            </tr>
        </table>

        <h1 class="profile">Speakers</h1>
        <div class="speaker">
          <div class="profile-card">
              <img src="/images/pemateri.png" alt="Foto Pemateri" class="profile-photo">
              <div class="profile-details">
                  <h2>To be announcement</h2>
                  <!-- <p>Deskripsi singkat mengenai pemateri. Ini bisa berisi informasi tentang latar belakang, pengalaman, dan keahlian pemateri dalam bidang tertentu.</p> -->
                  <div class="social-media">
                      <a href="https://www.instagram.com/username" target="_blank">
                          <img src="https://img.icons8.com/?size=100&id=hFoVFpm6gl9A&format=png&color=000000" alt="Instagram">
                      </a>
                      <a href="https://www.linkedin.com/in/username" target="_blank">
                          <img src="https://img.icons8.com/?size=100&id=118979&format=png&color=000000" alt="LinkedIn">
                      </a>
                  </div>
              </div>
          </div>
          <div class="profile-card">
              <img src="/images/pemateri.png" alt="Foto Pemateri" class="profile-photo">
              <div class="profile-details">
                  <h2>To be announcement</h2>
                  <!-- <p>Deskripsi singkat mengenai pemateri. Ini bisa berisi informasi tentang latar belakang, pengalaman, dan keahlian pemateri dalam bidang tertentu.</p> -->
                  <div class="social-media">
                      <a href="https://www.instagram.com/username" target="_blank">
                          <img src="https://img.icons8.com/?size=100&id=hFoVFpm6gl9A&format=png&color=000000" alt="Instagram">
                      </a>
                      <a href="https://www.linkedin.com/in/username" target="_blank">
                          <img src="https://img.icons8.com/?size=100&id=118979&format=png&color=000000" alt="LinkedIn">
                      </a>
                  </div>
              </div>
          </div>
          <div class="profile-card">
              <img src="/images/pemateri.png" alt="Foto Pemateri" class="profile-photo">
              <div class="profile-details">
                  <h2>To be announcement</h2>
                  <!-- <p>Deskripsi singkat mengenai pemateri. Ini bisa berisi informasi tentang latar belakang, pengalaman, dan keahlian pemateri dalam bidang tertentu.</p> -->
                  <div class="social-media">
                      <a href="https://www.instagram.com/username" target="_blank">
                          <img src="https://img.icons8.com/?size=100&id=hFoVFpm6gl9A&format=png&color=000000" alt="Instagram">
                      </a>
                      <a href="https://www.linkedin.com/in/username" target="_blank">
                          <img src="https://img.icons8.com/?size=100&id=118979&format=png&color=000000" alt="LinkedIn">
                      </a>
                  </div>
              </div>
          </div>
        </div>

        <h1 class="text-primary">Timeline</h1>
        
        <div class="timeline">
          <div class="container left">
            <div class="content">
              <h2>1 - 5 August 2024</h2>
              <p>Early Bird</p>
            </div>
          </div>
          <div class="container right">
            <div class="content">
              <h2>6 - 22 August 2024</h2>
              <p>Regular</p>
            </div>
          </div>
          <!-- <div class="container left">
            <div class="content">
              <h2>24 - 31 August 2024</h2>
              <p>Extended</p>
            </div>
          </div> -->
          <div class="container left">
            <div class="content">
              <h2>3 -5 October 2024</h2>
              <p>Training</p>
            </div>
          </div>
        </div>

        <h1 class="CP">Contact Person</h1>
        <div class="contact-card">
            <div class="contact-info">
                <h3>Head of Event</h3>
                <p>M. Ghatfan Aufa (Gatan)</p>
                <p><a href="https://wa.me/6285895892863" target="_blank">WhatsApp Me!</a> | <a href="mailto:gatanaufa04@gmail.com">Email</a></p>
            </div>
            <div class="contact-info">
                <h3>Head of Subevent</h3>
                <p>Athaya Harsya Ramadhanta (Harsya)</p>
                <p><a href="https://wa.me/6282322147706" target="_blank">WhatsApp Me!</a> | <a href="mailto:athayaharsya2003@gmail.com">Email</a></p>
            </div>
        </div>
        
      </main>
    </div>

    <!-- Footer -->
    <footer class="container-fluid">
      <div class="awal">
        <p><a href="https://www.instagram.com/geosphereits?igsh=MTloc3hvcngzdDZiYw==" class="text-decoration-none text-white" target="_blank">Instagram</a></p>
          <p><a class="text-decoration-none" href="../index.html">Home</a></p>
          <p><a href="https://www.tiktok.com/@geospherehmtg?_t=8nylmBWiiu8&_r=1" class="text-decoration-none text-white" target="_blank">Tiktok</a></p>
      </div>
      <div class="tengah">        
        <hr>
      </div>
      <div class="end">
        <p>Created by Website Development Team Geopshere 2024</p>
      </div>
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>

    <script>
      document.getElementById("guidebook").addEventListener("click", function () {
        // URL file yang ingin diunduh
        var fileUrl = "/guidebook/Guidebook SIT 2024.pdf";

        // Nama file yang akan diberikan pada pengguna saat diunduh
        var fileName = "Guidebook SIT 2024.pdf";

        // Membuat elemen <a> untuk melakukan unduhan
        var link = document.createElement("a");

        // Menetapkan atribut href ke URL file
        link.href = fileUrl;

        // Menetapkan atribut download ke nama file
        link.download = fileName;

        // Menambahkan elemen ke dalam dokumen
        document.body.appendChild(link);

        // Simulasi klik pada elemen <a> untuk memulai unduhan
        link.click();

        // Menghapus elemen <a> setelah unduhan selesai
        document.body.removeChild(link);
      });
      // Fungsi untuk membuka tab baru
      function openNewTab(url) {
          window.open(url, '_blank');
      }

      // Fungsi untuk mengarahkan ke halaman tertentu
      function redirect(page) {
            // Ganti URL sesuai dengan halaman yang diinginkan
            window.location.href = page;
        }
    </script>
  </body>
</html>
