<!doctype html>
<html lang="en">
  <head>
    <title>Gtalk | Geosphere</title>
    <link rel="icon" href="/images/LOGO G.png" type="image/x-icon">
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS v5.2.1 -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/css/gtalk.css">

  </head>

  <body>

    <div class="article">

      <aside >
        <div id="logo">
          <img class="logo" src="/images/Logo Geosphere 2024.PNG" alt="">
        </div>
  
        <ul id="list-event">
          <li >
            <a href="/views/geoolympic.html">GeoOlympic</a>
          </li>
          <li >
            <a href="/views/sic.html">SIC</a>
          </li>
          <li >
            <a href="/views/geotraining.html">Geotraining</a>
          </li>
          <li >
            <a href="/views/gtalk.html">Gtalk</a>
          </li>
          <li >
            <a href="/views/geolog.html">Geolog</a>
          </li>
        </ul>
        <hr>

      </aside>
      <main>
        <div class="gtalk-1">
                <h1 class="title-1">
                    G-Talk
                </h1>
                <p class="subtitle-1">
                    G-talk yang merupakan sebuah talkshow yang digelar pada tahun ini, menghadirkan pembahasan 
                    menarik seputar "Oil and Gas Industry". Acara ini menyediakan wadah interaktif bagi para 
                    praktisi yang sering berkecimpung di bidang geofisika terutama dalam migas dan 
                    mendiskusikan bagaimana integrasi beberapa teknologi mutahir yang dapat membentuk masa 
                    depan profesi ini. Para pembicara terkemuka dari kedua industri akan membagikan wawasan 
                    mendalam, pengalaman praktis, dan proyek inovatif yang menggabungkan keahlian geofisika. 
                    G-talk diharapkan dapat menjadi sumber inspirasi bagi para peserta yang ingin menjelajahi 
                    potensi integrasi ini dan menciptakan terobosan baru dalam dunia geofisika.</p> 
            </div>
            <!--
            <div class="logo">
                <img src="C:\Users\Tuff\000\Learnin HTML and CSS\data\logo2.png">
            </div>  
            -->
            <div class="gtalk-2">
                <div class="title-2">
                    <h3 class="title-2">
                        Meet Our Talkers!
                    </h3>
                </div>
                <div class="thetalkers">
                    <div class="talkers">
                        <img src="/images/template.png">
                    </div>
                    <div class="subtitle-2">
                        <p class="subtitle-2">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et tincidunt justo, 
                            quis ultricies turpis. Aliquam tempor, nunc in lobortis pellentesque, mi lorem convallis 
                            odio, at suscipit sem quam vitae leo. Curabitur ultrices lacus non tempor mollis. Quisque 
                            id purus at elit rutrum euismod in id ex. Sed condimentum, quam vel mollis viverra, quam 
                            lorem pulvinar arcu, ut luctus dui dolor quis magna. Sed dictum volutpat elit quis ullamcorper. 
                            Sed egestas vitae libero at molestie. Mauris urna nibh, finibus sit amet tempus ac, faucibus 
                            eu nisi. Phasellus aliquam, arcu vitae feugiat malesuada, mi sapien pulvinar velit, a rhoncus 
                            turpis enim quis metus.
                        </p>
                    </div>
                </div>
            </div>
            <div class="gtalk-3">
                <h3 class="title-3">
                    Main Topic
                </h3>
                <h5 class="subtitle-3">
                    "Towards a Greener Horizon: Reinventing the Oil and Gas Industry for a Sustainable Future"
                </h5>
                <p class="sub-subtitle-3">
                    Transformasi yang diperlukan dalam industri minyak dan gas untuk menuju masa depan yang lebih 
                    berkelanjutan. Menekankan pada inovasi, keberlanjutan, dan tantangan yang dihadapi dalam 
                    mengadaptasi industri ini menuju model yang lebih ramah lingkungan dan berkelanjutan.
                </p>
            </div>
            <div class="gtalk-4">
                <h5 class="subtitle-4">
                    Sub-Topic
                </h5>
                <ul class="sub-subtitle-4">
                    <li>“Achieving Sustainable Oil Production Growth: The Vital Role of CCUS Technology”</li>
                    <li>"The Relationship Between Dependency on Petroleum and Climate Change: Towards a Sustainable Future"</li>
                    <li>“Sustainable Future: Transformation of the Oil and Gas Industry“</li>
                </ul>
            </div>

            <hr>

            <div class="gtalk-5">
                <h3 class="title-5">
                    Timeline
                </h3>
                <div class="subtitle-5">
                    <div class="sub-subtitle-5_1">
                        <p class="open">
                            OPEN REGIST
                            <li class="hide"></li>
                            Show 1
                            <li> Week 2 Juli</li>
                            Show 2
                            <li>Week 2 Agustus</li>
                            Show 3
                            <li>Week 3 September</li>
                        </p>
                    </div>
                    <div class="sub-subtitle-5_2">
                        <p class="close">
                            CLOSE REGIST
                            <li class="hide"></li>
                            H-1 D-DAY SHOW
                        </p>
                    </div>
                    <div class="sub-subtitle-5_3">
                        <p class="dday">
                            D-DAY EVENT
                            <li class="hide"></li>
                            Show 1 (offline)
                            <li> Week 1 Agustus</li>
                            Show 2 (online)
                            <li>Week 1 September</li>
                            Show 3 (offline)
                            <li>Week 2 Oktober (H+1 Geolympic Presentation)</li>
                        </p>
                    </div>
                </div>
            </div>
      </main>


    </div>

    <!-- Footer -->
    <footer class="container-fluid bg-white">
      <div class="awal">
        <div class="logo-footer">
          <img class="logo-new" src="../images/LOGO G.png" alt="">
          <p class="w-50">"Empowering Oil & Gas Exploration for Energy Sustainability in Indonesia"</p>
        </div>
        <div class="contact">
          <h4>Contact Us Through</h4>
          <p>WhatsApp: 081 234 567 890</p>
          <p>WhatsApp: 081 234 567 890</p>
          <p>Email</p>
          <p><a class="text-decoration-none" href="https://www.instagram.com/geosphereits?igsh=MTloc3hvcngzdDZiYw==">Instagram</a></p>
          <p><a class="text-decoration-none" href="https://www.linkedin.com/company/geosphere-its/">Linkedin</a></p>
        </div>
        <div class="about">
          <h4>About</h4>
          <p>About Us</p>
          <p>Meet our Team</p>
          <p>Merchandise</p>
        </div>
        <div class="event-1">
          <h4>Event</h4>
          <p>SIT</p>
          <p>LOG</p>
          <p>SIC</p>
          <p>Geolympic</p>
          <p>Gtalk!</p>
          <p><a class="text-decoration-none" href="../index.html">Home</a></p>
        </div>
      </div>
      <div class="tengah">        
      
        <hr>
      </div>
      <div class="end">
        <p>Created by Website Development Team Geopshere 2024</p>
      </div>
    </footer>
    <!-- Bootstrap JavaScript Libraries -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
